<button onclick="login()" class="btn btn-warning">Reset</button>
<h5 style="display: inline-block; vertical-align: middle; margin-left: 25px; margin-right: 25px; margin-top: 28px; font-size: 32px; border: 3px solid #FFFFFF; padding-bottom: 6px; padding-top: 3px; padding-left: 8px; padding-right: 8px; border-radius: 20px">Manager</h5>
<button onclick="location.href='./'" class="btn btn-warning">Logout</button>
<div id="options">
	<button onclick="StaffOption()">Staff</button>
	<button onclick="MovieOption()">Movie</button>
	<button onclick="MemberOption()">Member</button>
	<button onclick="alterPricing()">Alter Prices</button>
</div>
<div id="manager-dynamic-1"></div>
<div id="manager-dynamic-2"></div>
<div id="manager-dynamic-3"></div>
<div id="manager-dynamic-4"></div>
<div id="manager-dynamic-5"></div>
<div id="manager-dynamic-6"></div>
<div id="manager-dynamic-7"></div>
<div id="manager-dynamic-8"></div>
<div id="manager-dynamic-9"></div>
<div id="manager-dynamic-10"></div>
<div id="manager-dynamic-11"></div>
<div id="manager-dynamic-12"></div>
<div id="manager-dynamic-13"></div>
<div id="manager-dynamic-14"></div>
<div id="manager-dynamic-15"></div>
<div id="manager-dynamic-16"></div>

