<h4>Member Details</h4>
<div id="memberform">
<input type="text" name="memberName" placeholder="Name">
<input id="datepicker-manager-3" name="memberDob" placeholder="Date of Birth">
<input type='text' name="memberGender" placeholder="Gender">
<input type="text" name="memberIDcard" placeholder="ID card">
<input type="text" name="memberPhoneNumber" placeholder="Phone Number">
<input type="text" name="memberEmail" placeholder="Email">
<input type="text" name="memberType" placeholder="Type">
<button onclick="filledMemberForm()">Submit</button>
</div>