<h4>Manager Details</h4>
<div id="managerform">
<input type="text" name="staffName" placeholder="Name">
<input id="datepicker-manager-3" name="staffDob" placeholder="Date of Birth">
<input type='text' name="staffGender" placeholder="Gender">
<input type="text" name="staffIDcard" placeholder="ID card">
<input type="text" name="staffPhoneNumber" placeholder="Phone Number">
<input type="text" name="staffEmail" placeholder="Email">
<input type="text" name="staffAddress" placeholder="Address">
<input type="text" name="staffPosition" placeholder="Position">
<input type="text" name="staffSalary" placeholder="Salary">
<button onclick="filledStaffForm()">Submit</button>
</div>